<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556453969897-ek6ojho61tedke1p3om9nvmfoicqv7fi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556453969897-ek6ojho61tedke1p3om9nvmfoicqv7fi</string>
	<key>API_KEY</key>
	<string>AIzaSyBMJ6kVABm-zpKpKCXkuftOklJ96d4btwY</string>
	<key>GCM_SENDER_ID</key>
	<string>556453969897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.davidleah.Uber</string>
	<key>PROJECT_ID</key>
	<string>uber-72ab2</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-72ab2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556453969897:ios:7097422d1ca9ab4b</string>
	<key>DATABASE_URL</key>
	<string>https://uber-72ab2.firebaseio.com</string>
</dict>
</plist>